<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>

<section id="top">
  <div class="jumbotron text-center">
      <div class="container">
        <h1 style="color: #ffffff";>Welcome to the NO! Food Loss</h1>
        『最後まで食べ切る』を応援する社会派サービス
        <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
        <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>-->
      </div>
    </div>
</section>


<section id="about">
<div class="center jumbotron">
  <div class="text-left">
    <h2>NO! Food Lossとは</h2>
    <h4>「フードロス」削減のためのプラットフォーム</h4>
    <p>閉店間際など、まだおいしく安全に食べられるのに廃棄の危機に直面している食事を「食べ手」とつなぎ、
最後まで売り切ることを応援するプラットフォームです。</p>
  </div>
</div>
</section>

<section id="use">
  <div class="text-left">
    <h2>使い方</h2>
<div class="card-deck">
  <div class="card" style="width:18rem">
    <%= image_tag 'use1.png', :size => '80x80' %>
  <div class="card-body">
    <h5 class="card-title">お店を見つける</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">近くで助けを求めているいるお店の商品を探そう。</p>
  </div>
</div>

  <div class="card" style="width:18rem">
  <%= image_tag 'use2.png', :size => '80x80' %>
  <div class="card-body">
    <h5 class="card-title">購入希望を登録</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">食べたい食事を見つけたら、欲しい！を登録をしよう。</p>
  </div>
  </div>

  <div class="card" style="width:18rem">
  <%= image_tag 'use3.png', :size => '80x80' %>
  <div class="card-body">
    <h5 class="card-title">お店に行く</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">商品をお店に取りに行こう。</p>
  </div>
  </div>

  <div class="card" style="width:18rem">
  <%= image_tag 'use4.png', :size => '80x80' %>
  <div class="card-body">
    <h5 class="card-title">フードロスの削減！</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">おいしい食事を持ち帰って楽しみましょう。</p>
  </div>
  </div>
</div>
</section>

<section id="items">
<div class="center jumbotron">
  <div class="text-left">
    <h2>商品一覧</h2>
  </div>

<%= render 'items/items', items: @items %>

<a class="btn btn-primary btn-lg" href="/items" role="button">もっとみる »</a>
</section>

<% end %>



