<section id="top">
  <div class="jumbotron text-center">
      <div class="container">
        <h1 style="color: #ffffff";>Welcome to the NO! Food Loss</h1>
        『最後まで食べ切る』を応援する社会派サービス
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
      </div>
    </div>
</section>


<section id="about">
<div class="center jumbotron">
  <div class="text-left">
    <h2>NO! Food Lossとは</h2>
    <h4>「フードロス」削減のためのプラットフォーム</h4>
    <p>閉店間際など、まだおいしく安全に食べられるのに廃棄の危機に直面している食事を「食べ手」とつなぎ、
最後まで売り切ることを応援するプラットフォームです。</p>
  </div>
</div>
</section>

<section id="use">
  <div class="text-left">
    <h2>使い方</h2>
<div class="card-deck">
  <div class="card" style="width:18rem">
    <%= image_tag 'use1.png', :size => '80x80' %>
  <div class="card-body">
    <h5 class="card-title">ロス発生の危機</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">商品が売れ残りそうでロスが発生しそうです。</p>
  </div>
</div>

  <div class="card" style="width:18rem">
  <%= image_tag 'use2.png', :size => '80x80' %>
  <div class="card-body">
    <h5 class="card-title">NO!Food Lossに掲載</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">商品をサイトに掲載します。</p>
  </div>
  </div>

  <div class="card" style="width:18rem">
  <%= image_tag 'use3.png', :size => '80x80' %>
  <div class="card-body">
    <h5 class="card-title">食べての登場</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">欲しい！ひとが現れます。</p>
  </div>
  </div>

  <div class="card" style="width:18rem">
  <%= image_tag 'use4.png', :size => '80x80' %>
  <div class="card-body">
    <h5 class="card-title">お店で受け渡し</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">食品ロスが削減できました！</p>
  </div>
  </div>
</div>
</section>

<section id="items">
<div class="center jumbotron">
  <div class="text-left">
    <h2>商品一覧</h2>
  </div>
  <div class="card-deck">
  <div class="card" style="width:18rem">
  <%= image_tag 'item1.jpg', :size => '100x100' %>
  <div class="card-body">
    <h5 class="card-title">あんぱん</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">商品が売れ残りそうでロスが発生しそうです。</p>
    <a href="#" class="card-link">Card link</a>
  </div>
</div>
  <div class="card" style="width:18rem">
  <%= image_tag 'item2.jpg', :size => '100x100' %>
  <div class="card-body">
    <h5 class="card-title">フランスパン</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">商品が売れ残りそうでロスが発生しそうです。</p>
    <a href="#" class="card-link">Card link</a>
  </div>
</div>
  <div class="card" style="width:18rem">
  <%= image_tag 'item3.jpg', :size => '100x100' %>
  <div class="card-body">
    <h5 class="card-title">クロワッサン</h5>
    <h6 class="card-subtitle text-muted">Food Loss</h6>
    <p class="card-text">商品が売れ残りそうでロスが発生しそうです。</p>
    <a href="#" class="card-link">Card link</a>
  </div>
</div>
</div>
<a class="btn btn-primary btn-lg" href="#" role="button">もっとみる »</a>
</section>




